<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ form_row(form.communication) }}
            {{ form_row(form.channel) }}
            {{ form_row(form.profile) }}
            {{ form_row(form.template) }}
            {{ form_row(form.title) }}
            {{ form_row(form.presentation) }}
        </div>
    </div>
    {% for widget in ds_widgets({ position: 'ds_communication_content_form_content', context: context }, { form: form }) %}
        {{ widget.content|raw }}
    {% endfor %}
</div>
