{% extends 'DsAccountBundle:Account:base.html.twig' %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('ds_portal_portal_home_index') }}">
                {% trans %}ds.portal.home.page.portal.index.title{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('ds_accountdashboard_account_dashboard_index') }}">
                {% trans %}ds.account.home.page.account.index.title{% endtrans %}
            </a>
        </li>
        <li class="active">
            {% trans %}ds.accountcase.caseentity.page.account.index.title{% endtrans %}
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>
                My Service Requests
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="search">
                        <input type="text" class="form-control" placeholder="Search Service Requests..." style="border-top: 0px; border-right: 0px; border-left: 0px; font-size: 24px;" data-plugin="filter" data-filter-row="#cases tbody tr" data-filter-data=".name a">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="cases" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="vertical-align:top">
                                    Request ID
                                </th>
                                <th style="vertical-align:top">
                                    Subject
                                </th>
                                <th style="vertical-align:top">
                                    Created Date
                                </th>
                                <th style="vertical-align:top">
                                    Closed Date
                                </th>
                                <th style="vertical-align:top">
                                    Service
                                </th>
                                <th style="vertical-align:top">
                                    Latest Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for case in cases %}
                                <tr>
                                    <td>
                                        {{ case.id }}
                                    </td>
                                    <td class="name">
                                        <a href="{{ path('ds_accountcase_account_case_view', { id: case.id }) }}">
                                            {{ case.titles|localized_value }}
                                        </a>
                                    </td>
                                    <td>
                                        <span title="{{ case.createdAt|date('F jS, Y \\a\\t g:ia') }}">
                                            {{ case.createdAt|ago }}
                                        </span>
                                    </td>
                                    <td>
                                        {% if case.state == 'inactive' and case.status == 'resolved' %}
                                            {{ case.updatedAt|ago }}
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if case.service %}
                                            {{ case.service.titles|localized_value }}
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if statuses[case.id] is not empty %}
                                            {{ statuses[case.id].titles|localized_value }}
                                            <div class="progress" style="background-color: rgba(221, 221, 221, 1)">
                                                <div class="progress-bar" progress-bar-success="yes" role="progressbar" aria-valuenow="{{ statuses[case.id].percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ statuses[case.id].percentage }}.00%" title="{{ statuses[case.id].percentage }}%"></div>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">
                                        No records found.
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
