{% extends 'DsAccountBundle:Account:base.html.twig' %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('ds_portal_portal_home_index') }}">
                {% trans %}ds.portal.page.portal.home.index.title{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('ds_accountdashboard_account_dashboard_index') }}">
                {% trans %}ds.account.page.account.home.index.title{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('ds_accountcase_account_case_index') }}">
                {% trans %}ds.accountcase.page.account.caseentity.index.title{% endtrans %}
            </a>
        </li>
        <li class="active">
            {{ case.titles|localized_value }}
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h1 class="pull-left">
                        {{ case.titles|localized_value }}
                    </h1>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>
                                {% trans %}ds.accountcase.page.account.caseentity.view.attributes.title{% endtrans %}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="lead">
                                                <strong>{% trans %}ds.accountcase.page.account.caseentity.view.attributes.subject{% endtrans %}</strong>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="lead">
                                                {{ case.titles|localized_value }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="lead">
                                                <strong>{% trans %}ds.accountcase.page.account.caseentity.view.attributes.id{% endtrans %}</strong>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="lead">
                                                {{ case.id }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="lead">
                                                <strong>{% trans %}ds.accountcase.page.account.caseentity.view.attributes.created_at{% endtrans %}</strong>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="lead">
                                                {{ case.createdAt|date('F jS \\a\\t g:i:sa') }}
                                            </p>
                                        </div>
                                    </div>
                                    {% if case.state == 'inactive' and case.status == 'resolved' %}
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="lead">
                                                    <strong>{% trans %}ds.accountcase.page.account.caseentity.view.attributes.updated_at{% endtrans %}</strong>
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="lead">
                                                    {{ case.updatedAt|date('F jS \\a\\t g:i:sa') }}
                                                </p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="lead">
                                                <strong>{% trans %}ds.accountcase.page.account.caseentity.view.attributes.state{% endtrans %}</strong>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p>
                                                {{ ('ds.accountcase.page.account.caseentity.view.attributes.states.' ~ case.state)|trans }}
                                                |
                                                {{ ('ds.accountcase.page.account.caseentity.view.attributes.statuses.' ~ case.status)|trans }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="lead">
                                                <strong>{% trans %}ds.accountcase.page.account.caseentity.view.attributes.tags{% endtrans %}</strong>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="lead">
                                                <span class="label label-primary">Tag 1</span>
                                                <span class="label label-success">Tag 2</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="lead">
                                                <strong>{% trans %}ds.accountcase.page.account.caseentity.view.attributes.service{% endtrans %}</strong>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            {% if case.service %}
                                                <p class="lead">{{ case.service.titles|localized_value }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for widget in ds_widgets({ position: 'ds_accountcase_account_case_entity' }, { case: case }) %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>
                                            {{ widget.title|trans }}
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        {{ widget.content|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
