{% extends 'DsPortalBundle:Portal:base.html.twig' %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('ds_portal_portal_home_index') }}">
                {% trans %}ds.portal.page.portal.home.index.title{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('ds_accountdashboard_account_dashboard_index') }}">
                {% trans %}ds.account.page.account.home.index.title{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('ds_portalservice_portal_service_view', { id: service.id }) }}">
                {{ service.titles|localized_value }}
            </a>
        </li>
        <li class="active">
            {% trans %}ds.accountbpm.page.account.process.started.title{% endtrans %}
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>
                {% trans %}ds.accountbpm.page.account.process.started.title{% endtrans %}
            </h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            <p class="lead text-center" style="font-size: 30px;">

                            </p>
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="{{ path('ds_accountdashboard_account_dashboard_index') }}" class="btn btn-primary">
                            {% trans %}ds.accountbpm.page.account.process.started.button.back{% endtrans %}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
