<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>
                    Review
                </h4>
                <hr>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            Request for:
                        </h5>
                    </div>
                    <div class="panel-body">
                        {{ form_row(form.requestForNetworkUserName) }}
                        {{ form_row(form.requestForFirstName) }}
                        {{ form_row(form.requestForLastName) }}
                        {{ form_row(form.systemAccess) }}
                        {{ form_row(form.justification) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            When does this need to be completed by:
                        </h5>
                    </div>
                    <div class="panel-body">
                        {{ form_row(form.effectiveDate) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            Requested by:
                        </h5>
                    </div>
                    <div class="panel-body">
                        {{ form_row(form.requesterFirstName) }}
                        {{ form_row(form.requesterLastName) }}
                        {{ form_row(form.requesterNetworkUsername) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            Approve
                        </h5>
                    </div>
                    <div class="panel-body">
                        {{ form_row(form.outcome) }}
                        {{ form_row(form.outcomeNotes) }}
                    </div>
                </div>
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-lg btn-primary">
                    Request
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    Additional	Information
                </h5>
                <p>
                    We have pre-populated this form with information we already know about you from your MyAccount Persona.  You can update your persona or make changes directly in this form.  Changes made in this form will not change your persona.
                </p>
            </div>
        </div>
    </div>
</div>
