{% extends 'DsAccountBundle:Account:base.html.twig' %}

{% use 'CraueFormFlowBundle:FormFlow:stepList_blocks.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('ds_portal_portal_home_index') }}">
                {% trans %}ds.portal.page.portal.home.index.title{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('ds_accountdashboard_account_dashboard_index') }}">
                {% trans %}ds.account.page.account.home.index.title{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('ds_accountbpm_account_task_index') }}">
                {% trans %}ds.accountbpm.page.account.task.index.title{% endtrans %}
            </a>
        </li>
        <li class="active">
            {{ task.name }}
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>
                {{ task.name }}
            </h1>
        </div>
    </div>
    <hr>
    {% if flow %}
        <div class="row">
            <div class="col-lg-12">
                {% if flow %}
                    {%- if flow.getStepLabels() is not empty -%}
                        <div class="stepwizard">
                            <div class="stepwizard-row">
                                {% for stepLabel in flow.getStepLabels() %}
                                    <div class="stepwizard-step{% if loop.index == flow.getCurrentStepNumber() %} current{% endif %}">
                                        <button type="button" class="btn btn-default btn-circle">
                                            {{ loop.index }}
                                        </button>
                                        <p>
                                            {{ block('craue_flow_stepLabel') }}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% include template with { flow: flow, form: form } %}
{% endblock %}
